.colorBody {
    background-color: black;
}

.colorCard {
    background-color: black;
}

.colorLetras {
    color: #CDB863;
    font-size: large;
}

.titulos {
    font-size: x-large;
    font-family: "Century Schoolbook";
}

.subtitulos {
    font-size: large;
    font-family: "Century Schoolbook";
}

.textoMenu {
    color: white;
}

.targetAlitas {
    display: none;
}

.colorInconos {
    color: white;
}