.colorBody {
    background-color: black;
}

.colorCard {
    background-color: rgb(73, 72, 72);
}

.colorLetras {
    color: #CDB863;
    font-size: large;
}

.titulos {
    font-size: x-large;
    font-family: "Century Schoolbook";
}

.subtitulos {
    font-size: large;
    font-family: "Century Schoolbook";
}

.textoMenu {
    color: white;
}